@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-font: "Roboto";
  --accent: #ff6b08;
  --secondary: #545454;
  --light-txt-color: #ffffff;
  --dark-txt-color: #000000;
  --attention-txt-color: #ff001b;
  --card-inform-txt-color: #8c8c8c;
  --header-background-color: rgba(0, 0, 0, 0.56);
  --footer-background-color: #f7f7f7;
  --arrow-pagination-color: #f7f7f7;
  --btn-background-color: #FF6B01;
  --items: 1;
  --gap: 20px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
body {
  font-family: var(--main-font), sans-serif;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 20px;
    line-height: 1.2;
  }
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* flex-box grid */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.card-set__item {
  flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}

.modal_btn {
  width: 136px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  cursor: pointer;
  border: black, 1px;
  border-radius: 5px;
  color: black;
  background-color: #ffffff;
}

.modal_btn:hover,
.modal_btn:focus {
  color: var(--light-txt-color);
  background-color: #ff6b01;
  border: #ff6b01;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

/* .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */
/* .backdrop.is-hidden .modal_movie {
  transform: translate(-50%, -50%) scale(0.5);
} */
.modal_movie {
  background-color: #ffffff;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 12px;
}

.btn-close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
}

.modal_posterbox {
  width: 375px;
  height: 478px;
}

.modal_poster {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.modal-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 391px;
}

.modal-info_title {
  text-transform: uppercase;
}

.modal-info_table {
  width: 391px;
}

th {
  width: 150px;
  color: #8c8c8c;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

td {
  text-align: left;
}

.modal-table_vote {
  width: 36px;
  height: 16px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b01;
}

.modal-info_about {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.modal_btnbox {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.nav--top__step {
  padding-top: 40px;
}

.logo {
  font-size: 30px;
  line-height: 35px;
  color: var(--light-txt-color);
  display: none;
}
@media screen and (min-width: 768px) {
  .logo {
    display: block;
  }
}

.iconteka {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-left: auto;
}

.nav__item {
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.nav__item--margright {
  margin-right: 39px;
}

.nav__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: var(--light-txt-color);
}

.nav__link--current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--attention-txt-color);
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 44px;
}

.form__input {
  width: 100%;
  max-width: 394px;
  /* width: 394px; */
  display: block;
  background: transparent;
  outline: none;
  border-bottom: 0.5px solid var(--light-txt-color);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 0;
  padding-bottom: 4px;
  color: greenyellow;
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .form__input {
    width: 394px;
  }
}

.form__input::-moz-placeholder {
  color: var(--light-txt-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__input:-ms-input-placeholder {
  color: var(--light-txt-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__input::placeholder {
  color: var(--light-txt-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.errorText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--attention-txt-color) .errorText --topPad;
  color-padding-top: 20px;
}

.search-bth {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 74.3%;
  right: 33.4%;
}

.header-bgr {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/background-img-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 20), (min-resolution: 1920dpi), (min-resolution: 2dppx) {
  .header-bgr {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/background-img-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-bgr {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/background-img-tabl.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-bgr {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/background-img-tabl@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-bgr {
    background-image: url(../images/header/background-img-desk.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-bgr {
    background-image: url(../images/header/background-img-desk@2x.jpg);
  }
}

.films-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-auto-flow: dense;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .films-list {
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    row-gap: 32px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .films-list {
    grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));
    row-gap: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.wrapper {
  border-radius: 5px;
  overflow: hidden;
  height: 398px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    height: 455px;
    width: 336px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    height: 574px;
    width: 395px;
    margin-bottom: 12px;
  }
}

.films-list__title {
  color: var(--dark-txt-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 1280px) {
  .films-list__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.films-list__text {
  display: flex;
  align-items: center;
  color: var(--accent);
}

.films-rating {
  margin-left: 8px;
  padding: 1px 6px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-txt-color);
  background-color: var(--btn-background-color);
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .films-rating {
    margin-left: 10px;
    padding: 3px 8px;
  }
}

.spinner-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  font-family: var(--main-font), sans-serif;
  background-color: rgba(255, 107, 8, 0.1);
  overflow: hidden;
  text-align: center;
}

.spinner-backdrop.is-open {
  display: block;
}

.loading {
  color: var(--accent);
  text-align: center;
}

.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  width: 4em;
  height: 4em;
  line-height: 4em;
}
.loading-wrapper span {
  display: block;
}
.loading-wrapper span:after {
  content: " ";
  display: block;
  position: absolute;
  background-color: var(--dark-txt-color);
  transform-origin: 50% 50%;
  border-radius: 50%;
}
.loading-wrapper .dot-1:after {
  width: 0.2em;
  height: 0.2em;
  right: 0.25em;
  top: -0.45em;
  transform: rotate(-62deg);
  -webkit-animation: glow 1.4s 0.125s infinite;
          animation: glow 1.4s 0.125s infinite;
}
.loading-wrapper .dot-2:after {
  width: 0.3em;
  height: 0.3em;
  right: -0.95em;
  top: 0.45em;
  transform: rotate(-32deg);
  -webkit-animation: glow 1.4s 0.25s infinite;
          animation: glow 1.4s 0.25s infinite;
}
.loading-wrapper .dot-3:after {
  width: 0.4em;
  height: 0.4em;
  right: -1.55em;
  top: 2.05em;
  -webkit-animation: glow 1.4s 0.375s infinite;
          animation: glow 1.4s 0.375s infinite;
}
.loading-wrapper .dot-4:after {
  width: 0.6em;
  height: 0.6em;
  right: -1.35em;
  top: 3.65em;
  transform: rotate(31deg);
  -webkit-animation: glow 1.4s 0.5s infinite;
          animation: glow 1.4s 0.5s infinite;
}
.loading-wrapper .dot-5:after {
  width: 0.7em;
  height: 0.7em;
  right: -0.35em;
  top: 4.85em;
  transform: rotate(59deg);
  -webkit-animation: glow 1.4s 0.625s infinite;
          animation: glow 1.4s 0.625s infinite;
}
.loading-wrapper .dot-6:after {
  width: 0.8em;
  height: 0.8em;
  right: 1.25em;
  top: 5.45em;
  transform: rotate(90deg);
  -webkit-animation: glow 1.4s 0.75s infinite;
          animation: glow 1.4s 0.75s infinite;
}
.loading-wrapper .dot-7:after {
  width: 1em;
  height: 1em;
  right: 2.85em;
  top: 5.05em;
  transform: rotate(-62deg);
  -webkit-animation: glow 1.4s 0.875s infinite;
          animation: glow 1.4s 0.875s infinite;
}
.loading-wrapper .dot-8:after {
  width: 1.2em;
  height: 1.2em;
  right: 4.45em;
  top: 3.75em;
  transform: rotate(-40deg);
  -webkit-animation: glow 1.4s 1s infinite;
          animation: glow 1.4s 1s infinite;
}
.loading-wrapper .dot-9:after {
  width: 1.3em;
  height: 1.3em;
  right: 5.15em;
  top: 1.65em;
  -webkit-animation: glow 1.4s 1.125s infinite;
          animation: glow 1.4s 1.125s infinite;
}
.loading-wrapper .dot-10:after {
  width: 1.4em;
  height: 1.4em;
  right: 4.65em;
  top: -0.55em;
  transform: rotate(31deg);
  -webkit-animation: glow 1.4s 1.25s infinite;
          animation: glow 1.4s 1.25s infinite;
}
.loading-wrapper .dot-11:after {
  width: 1.5em;
  height: 1.5em;
  right: 3.05em;
  top: -2.05em;
  transform: rotate(59deg);
  -webkit-animation: glow 1.4s 1.375s infinite;
          animation: glow 1.4s 1.375s infinite;
}

@-webkit-keyframes glow {
  0% {
    background-color: var(--accent);
  }
  100% {
    background-color: var(--dark-txt-color);
  }
}

@keyframes glow {
  0% {
    background-color: var(--accent);
  }
  100% {
    background-color: var(--dark-txt-color);
  }
}/*# sourceMappingURL=index.css.map */