:root {
  // fonts
  --main-font: 'Roboto';

  // color
  --accent: #ff6b08;
  --secondary: #545454;

  --light-txt-color: #ffffff;
  --dark-txt-color: #000000;
  --attention-txt-color: #ff001b;
  --card-inform-txt-color: #8c8c8c;


  --header-background-color: rgba(0, 0, 0, 0.56);
  --footer-background-color: #f7f7f7;
  --arrow-pagination-color: #f7f7f7;
  --votes-bg-color: #f7f7f7;
  --btn-background-color: #FF6B01;

    // card set var
  --items: 1;
  --gap: 20px;

  // transition
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}