.dark {
    background-color: #1A1125;
    background-color: #261d32;
    background-color: #3d0f11;
    background-color: #3d0f11;
    background-color: #131317;
    background-color: #272e34;
   
}

.dark-body {
    background-color: #272e34;
}

.dark-library {
    background-color: #272e34;
}





