<footer class="footer">
  <div class="footer__container container">
    <p class="footer__text">
      &#169;
      <span class="footer__text--year">&#160;2022</span>
      <span class="footer__text--copyrights"
        >| All Rights Reserved |&#160;</span
      >
    </p>
    <p class="footer__developers">
      <span class="footer__developers--desc">Developed with</span>
      <svg class="footer__icon" width="14" height="13">
        <use href="/src/images/icons.svg#icon-heart"></use>
      </svg>
      <span class="footer__developers--by">by</span>
      <a
        href="#"
        class="footer-developers--link"
        id="open-modal-team"
        data-modalOpenBtn="team"
        >GoIT Students</a
      >
    </p>
    <p class="footer__credits">
      <span class="footer__credits--text">Powered by</span>
      <a
        class="footer__credits--link"
        href="https://www.themoviedb.org/"
        target="_blank"
      >
        <img
          class="footer__credits--logo"
          src="/src/images/svg/tmdb.svg"
          alt="tmdb-logo-link"
          width="90"
          height="16"
        />
      </a>
    </p>
  </div>
</footer>
