<header class="header-library">
  <div class="container">
    <nav class="nav nav--top__step">
      <a class="logo" href="./index.html">
        <div class="iconteka">
          <svg width="24px" height="24px">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
        </div>
        <p class="logo__name">Filmoteka</p>
      </a>
      <ul class="nav__list">
        <li class="nav__item nav__item--margright">
          <a class="nav__link" href="./index.html">home</a>
        </li>
        <li class="nav__item nav__item">
          <a class="nav__link nav__link--current" href="*">my library</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container library-filter">
    <button id="watched" class="library-filter-btn" type="button">
      watched
    </button>
    <button id="queue" class="library-filter-btn" type="button">queue</button>
  </div>
</header>
