<div class="header header-library">
  <div class="container">
    <nav class="nav nav-library">
      <!-- svg icon  -->
      <div class="iconteka">
        <svg width="24px" height="24px">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
      </div>
      <a class="logo" href="./index.html">Filmoteka </a>

      <ul class="nav__list">
        <li class="nav__item nav__item--margright">
          <a class="nav__link" href="*">HOME</a>
        </li>
        <li class="nav__item nav__item">
          <a class="nav__link nav__link--current" href="./library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="librarry-btn-cover">
    <button type="button" class="modal_btn library-btn">Watched</button>
    <button type="button" class="modal_btn library-btn">Queue</button>
  </div>
</div>
