<div class="header header-bgr">
  <div class="container">
    <nav class="nav nav--top__step">
      <!-- svg icon  -->
      <div class="iconteka">
        <svg width="24px" height="24px">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
      </div>
      <a class="logo" href="./index.html">Filmoteka </a>

      <ul class="nav__list">
        <li class="nav__item nav__item--margright">
          <a class="nav__link nav__link--current" href="./index.html">HOME</a>
        </li>
        <li class="nav__item nav__item">
          <a class="nav__link" href="./library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <div class="form-thumb">
      <form class="search-form">
        <input
          class="form__input"
          type="text"
          placeholder="Movie search"
          name="query"
          autocomplete="off"
        />
        <button class="search-bth" type="submit">
          <svg class="search-icon" width="12px" height="12px">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <p class="errorText errorText--topPad">
        Search result not successful. Enter the correct movie name and try
        again!
      </p>
    </div>
  </div>
</div>
