<div class="container header-bgr">
  <nav class="nav nav--top__step">
    <!-- svg icon  -->
    <div class="iconteka">
      <svg width="24px" height="24px">
        <use href="./images/icons.svg#icon-film"></use>
      </svg>
    </div>
    <a class="logo" href="./index.html">Filmoteka </a>

    <ul class="nav__list">
      <li class="nav__item nav__item--margright">
        <a class="nav__link nav__link--current" href="*">HOME</a>
      </li>
      <li class="nav__item nav__item">
        <a class="nav__link" href="./library.html">MY LIBRARY</a>
      </li>
    </ul>
  </nav>

  <form class="search-form">
    <input
      class="form__input"
      type="text"
      placeholder="Movie search"
      name="query"
      autocomplete="off"
    />
    <span class="form__icon"></span>
    <p class="errorText errorText--topPad">
      Search result not successful. Enter the correct movie name and
    </p>
    <button class="search-bth" type="submit">
      <svg width="12px" height="12px">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</div>
