<!-- Modal team -->
<div class="backdrop__team team is-hidden" id="team-modal" data-modal>
  <div class="team__container">
    <h2 class="team__title">Наша команда</h2>
    <button class="team__button--close" data-modal-close>
      <svg class="team__button--icon" width="25px" height="25px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team__wrapper">
      <ul class="team__list card-set">
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-lg04.webp    1x,
              ./images/team/team-lg04@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-lg04.jpg    1x,
              ./images/team/team-lg04@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-md04.webp    1x,
              ./images/team/team-md04@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-md04.jpg    1x,
              ./images/team/team-md04@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-sm04.webp    1x,
              ./images/team/team-sm04@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-sm04.jpg    1x,
              ./images/team/team-sm04@2x.jpg 2x
            "
            type="image/jpg"
          /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Євген Чередник"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Євген Чередник</h3>
          <p class="team__role">Team Lead / Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Анатолій Степанов-Ліхой"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Анатолій Степанов-Ліхой</h3>
          <p class="team__role">Scrum Master / Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Діана Буковська"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Діана Буковська</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Олег Буковський"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Олег Буковський</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Андрій Гаргат"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Андрій Гаргат</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Валентин Герасименко"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Валентин Герасименко</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Дмитро Головін"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Дмитро Головін</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Владислав Кетов"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Владислав Кетов</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Олександр Омельчук"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Олександр Омельчук</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Інга Пирогова"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Інга Пирогова</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Олександр Романенко"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Олександр Романенко</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Олег Таргонський"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Олег Таргонський</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Віталій Тимко"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Віталій Тимко</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
        <li class="team__card card-set__item">
          <picture>
            <!-- <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.webp    1x,
                ./images/team/team-lg04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-lg04.jpg    1x,
                ./images/team/team-lg04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.webp    1x,
                ./images/team/team-md04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-md04.jpg    1x,
                ./images/team/team-md04@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.webp    1x,
                ./images/team/team-sm04@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-sm04.jpg    1x,
                ./images/team/team-sm04@2x.jpg 2x
              "
              type="image/jpg"
            /> -->
            <img
              class="team__image"
              src="/src/images/сard-films/movie-poster-coming-soon.jpg"
              alt="Анатолій Шуліка"
              width="150px"
              height="150px"
              loading="lazy"
            />
          </picture>

          <h3 class="team__name">Анатолій Шуліка</h3>
          <p class="team__role">Developer</p>
          <ul class="list social">
            <li class="social__item">
              <a class="social__link" href="https://www.github.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.linkedin.com/"
                ><svg class="social__icon">
                  <use href="/src/images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
