<!-- Modal -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal_movie">
    <div class="modal_posterbox">
      <img
        class="modal_poster"
        src="./images/сard-films/movie-poster-coming-soon.jpg"
        alt="movie poster ${Назва фільму}"
        width="375"
        height="478"
      />
    </div>
    <div class="modal-info">
      <button class="btn-close" type="button">
        <svg class="btn-close_icon" width="14" height="14">
          <use href="#"></use>
        </svg>
      </button>
      <h2 class="modal-info_title">${Назва фільму}</h2>
      <table class="modal-info_table">
        <tr>
          <th>Vote / Votes</th>
          <td><span class="modal-table_vote">${Vote}</span> / ${Votes}</td>
        </tr>
        <tr>
          <th>Popularity</th>
          <td>${Popularity}</td>
        </tr>
        <tr>
          <th>Original Title</th>
          <td class="uppercase">${Original Title}</td>
        </tr>
        <tr>
          <th>Genre</th>
          <td>${Genre}</td>
        </tr>
      </table>
      <h3 class="modal-info_about">About</h3>
      <p>${Опис фільму}</p>
      <div class="modal_btnbox">
        <button id="#" class="modal_btn" type="button">add to Watched</button>
        <button id="#" class="modal_btn" type="button">add to queue</button>
      </div>
    </div>
  </div>
</div>
