.backdrop {
    position: absolute;
    top: 0;
    left: 0;

    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.25);
  }

// .backdrop.is-hidden {
// visibility: hidden;
// opacity: 0;
// pointer-events: none;
// }

// .backdrop.is-hidden .modal_movie {
// transform: translate(-50%, -50%) scale(0.5);
// }

.modal_movie {
    background-color: #ffffff;
    // background-color: #ff6b01;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
        
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
        gap: 68px;
        padding: 40px 40px;
        flex-direction:row;
        }

    @media screen and (min-width: 1024px) {
        gap: 16px;
        padding: 40px 36px;
    }    
}

.btn-close {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 40px;
    height: 40px;

    background-color: transparent;
    border: 0;
}

.modal_posterbox {
    margin: 0 auto;

    max-width: 240px;
    height: 357px;

    @media screen and (min-width: 768px) {
        min-width: 264px;
        height: 374px;
    }   
    
    @media screen and (min-width: 1024px) {
        min-width: 375px;
        height: 478px;
    }
}

.modal_poster {
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
}

.modal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 240px;  

    @media screen and (min-width: 768px) {
        width: 368px;  
    }

    @media screen and (min-width: 1024px) {
        width: 391px;      
    }
}

.modal-info_title {
    text-transform: uppercase;
}

.modal-info_table {
    width: 240px;
    
    @media screen and (min-width: 768px) {
        width: 368px;
    }

    @media screen and (min-width: 1024px) {
        width: 391px;
    }
}

th {
    width: 120px;
    color: #8c8c8c;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    @media screen and (min-width: 1024px) {
        width: 150px;
    }
}

td {
    text-align: left;
}

.modal-table_vote {
    width: 36px;
    height: 16px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff6b01;
}

.modal-info_about {
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.modal_btnbox {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;     
}

.modal_btn {
    width: 110px;

    @media screen and (min-width: 768px) {
        width: 125px;
    }

    @media screen and (min-width: 1024px) {
        width: 136px;
    }
}