@keyframes movebtn {
    0% {
        transform: translateY(0px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

.to-top.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.to-top--position {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 4;

    @media screen and (min-width: 768px) {
        bottom: 60px;
        right: 35px;
        right: 4%;
    }
}

.to-top--style {
    // visibility: hidden;

    font-weight: 500;
    font-size: 25;

    color: var(--accent);
    background-color: var(--secondary);
    box-shadow: 3px 7px 17px 0px rgb(127 65 79 / 15%);
    border: none;
    border-radius: 35%;
    height: 35px;
    width: 35px;

    animation: movebtn 2s ease-in-out infinite alternate both;
    transition: all var(--animation);

    &:hover,
    &:focus {
        animation-play-state: paused;
        color: var(--dark-txt-color);
        background-color: var(--accent);
        opacity: 1;
    }

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;

        font-weight: 500;
        font-size: 35;
    }

    @media screen and (min-width: 1280px) {
        width: 65px;
        height: 65px;

        font-weight: 500;
        font-size: 50;
    }
}