.container-main {
  min-height: 100vh;
}

.films-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    row-gap: 32px;
    column-gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));
    row-gap: 32px;
    column-gap: 16px;
  }
}

.films-list__img {
  border-radius: 5px;
  overflow: hidden;
  width: 280px;
  height: 398px;
  object-fit: cover;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    height: 455px;
    width: 336px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
    width: 395px;
    margin-bottom: 12px;
  }
}

.films-list__item {
  width: 280px;

   @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}

.films-list__title {
  color: var(--dark-txt-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

// .films-list__text {
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   color: var(--accent);
// }

// .films-list__ganre{
//   max-width: 250px;
// }

// .release-date {
//   margin-left: 10px;
// }

// .films-list__ganre {
//   margin-right: 10px;
// }

.films-list__info {
  display: inline-block;

  color: var(--accent);

  &:not(:last-child) {
    margin-right: 4px;
  };
}