.container-mylibrary{
  min-height: 100vh;
}

.films-rating{
    margin-left: 8px;
    padding: 1px 6px;
    font-size: 12px;
    line-height: 1.17;
    color: var(--light-txt-color);
    background-color: var(--btn-background-color);
    border-radius: 5px;
  
  
    @media screen and (min-width: 1280px) {
      margin-left: 10px;
      padding: 3px 8px;
    }
  
  }