@keyframes beat {
    40% {
        transform: scale(0.95);
    }
}

.footer {
    width: 100%;
    background-color: var(--footer-background-color);
    box-shadow: var(--box-shadow);
}

.footer__container {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;

    text-align: center;
    color: var(--secondary);

    padding-top: 29px;
    padding-bottom: 29px;



    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        font-size: 16px;
        line-height: 1.19;

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer__text, .footer__developers {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        margin: 0;
    }
}

.footer-developers--link {
    text-decoration: underline;
}

.footer__icon{
    fill: var(--accent);
    margin: 0 5px;

    animation-name: beat;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transform: scale(1.8);
}

.footer-developers--link:hover, .footer-developers--link:focus {
    color: var(--accent);
}

.footer__credits {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        margin-top: 10px;
        width: 100%;
    }

}

.footer__credits--link{
    margin-left: 5px;
}

.footer__credits--logo{
    display: inline-block;
}
