.header {
  width: 100vw;
}

.header-bgr {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/header/background-img-mob.jpg);

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 1920dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/header/background-img-mob@2x.jpg);
  }

  @media screen and(min-width: 768px) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/header/background-img-tabl.jpg);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/header/background-img-tabl@2x.jpg);
    }
  }

  @media screen and(min-width:1280px) {
    background-image: url(../images/header/background-img-desk.jpg);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/header/background-img-desk@2x.jpg);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &--top__step {
    padding-top: 40px;
  }
}

.iconteka {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo {
  font-size: 30px;
  line-height: 1.17;
  color: var(--light-txt-color);

  display: none;

  @media screen and(min-width:768px) {
    display: block;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  margin-left: auto;
}

.nav__item {
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.nav__item--margright {
  margin-right: 40px;
}

.nav__link {
  text-decoration: none;

  line-height: 1.17;

  color: var(--light-txt-color);
}

.nav__link--current::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--attention-txt-color)
}

.form-thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 45px;
}

.search-form {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__input {
  width: 100%;
  width: 280px;

  display: block;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid var(--light-txt-color);
  padding: 0;
  padding-bottom: 4px;
  color: var(--accent);

  @media screen and(min-width: 768px) {
    width: 336px;
  }
  @media screen and(min-width: 1280px) {
    width: 394px;
  }
}

.form__input::placeholder {
  color: var(--light-txt-color);
 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.search-bth {
  position: absolute;
  display: inline-block;

  background-color: transparent;
  border: none;
  top: 0;
  right: -6px;
}

.serch-icon {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}

.errorText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;


  color: var(--attention-txt-color);

  &--topPad {
    padding-top: 20px;
  }
}